.search {
  width: 100%;
}
.search__container {
  width: 100%;
  padding-top: 30px;
}
.search__form {
  width: 100%;
  @extend %outline;
  span {
    margin: 0 25px 0;
    opacity: .3;
  }
}
.search__form input {
  width: 70%;
  height: 40px;
  background-color: var(--White);
  border: none;
  outline: none;
}
